<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'push' : 'push'"
    mode="push">

    <div class="sidenav-profile-container">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </div>



    <div class="sidenav-menu-container">

        <div>
            <ul fxFlex fxLayout="column" fxLayoutGap="8px" >
                <li><span class="list">MyAccount</span></li>
                 <li> <span class="list">Cart</span></li>
                 <li> <span class="list">Orders</span></li>
                 <li> <span class="list">About us</span></li>
               </ul>

        </div>


    </div>
  </mat-sidenav>

  <mat-sidenav-content>

<app-header>
    <button  type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
  *ngIf="isHandset$ | async">
  <mat-icon   fxShow aria-label="Side nav toggle icon" style="display:block">menu</mat-icon>
</button>
</app-header>



    <!-- CONTENT GOES HERE -->
    <router-outlet></router-outlet>
<app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
