<div fxLayoutAlign="center" fxLayout="column">
  <div fxLayoutAlign="center">
<span style="margin-top: 5%;font-size:20px;font-family: 'Courier New', Courier, monospace;font-style: italic;">Eshoping </span>
  </div>

<div fxLayoutAlign="center">
    <mat-card class="example-card">
        <mat-card-header fxLayout="column">
          <mat-card-title> Get your  new password</mat-card-title>
          <span style="font-size: 13px; line-height: 19px;color: #111;">Enter your Reset  code and new password </span>
        </mat-card-header>

                <mat-card-content fxLayout="column" [formGroup]="registrationFormGroups" (ngSubmit)="registerUser()">

                  <div fxLayout="column">
                    <div fxLayout="row" fxLayoutGap="120px">
                      <div>
                          <span style="font-weight: bold;font-size:12px;">Reset code</span>
                      </div>

                    </div>

                     <div class="form-group">
                      <input  formControlName="code" class="form-control" class="email"  type="text">
                      <mat-error *ngIf="!registrationFormGroups.get('code').valid && registrationFormGroups.get('code').touched">
                       code required
                      </mat-error>
                     </div>


                      <div fxLayout="row"  formControlName="code" class="form-control"fxLayoutGap="120px">
                        <div>
                            <span style="font-weight: bold;font-size:12px;">New password</span>
                        </div>

                      </div>
                      <div class="form-group">

                        <input  formControlName="password"class="email"  class="form-control" type="password">

                        <mat-error *ngIf="!registrationFormGroups.get('phone_number').valid && registrationFormGroups.get('phone_number').touched">
                          Valid phone number required
                        </mat-error>
                      </div>



                  </div>


                  <div>
                      <button id="button" type="submit" (click)="registerUser(registrationFormGroups.value)"><span>change your password</span></button>

                  </div>
                  <div>
                    <span style="margin-top: 28px!important;font-size: 12px!important;line-height: 1.5!important;font-family: Arial,sans-serif;text-decoration: none" >By continuing,you agree to eShoping <a href="#">Conditions of Use <a href="#" style="text-decoration:none" target="_blank" rel="noopener noreferrer">Privacy Notice</a>  </a></span>
                  </div>




                </mat-card-content>

              </mat-card>
</div>

<hr>
<mat-divider></mat-divider>
  <ul fxLayoutAlign="center" fxLayoutGap="2%" fxLayout="row" style="    font-size: 11px!important;line-height: 1.465!important;list-style:none;">
    <li ><a style="text-decoration:none" href="#">Conditions of Use </a></li>
    <li> <a style="text-decoration:none"  href="#">Privacy Notice</a></li>
    <li><a style="text-decoration:none" href="#">Help</a></li>
  </ul>
  <div fxLayoutAlign="center">
    <span><footer style="font-size: 11px!important;
      line-height: 1.465!important;color: #555!important;">&copy;2020,Eshoping.com </footer>
    </span>
  </div>


</div>



