<div>
    <mat-toolbar  id="footer"    fxLayout="row" fxLayoutGap="10%" fxLayoutAlign="center">

          <div > <!--aboutus-->
            <mat-list-item fxLayout="column" >

                  <mat-list style="color:white"> ABOUT US</mat-list>
              <mat-list>
                Lorem ipsum dolor sit ullam dignissimos <br>
                sapiefficiapraesentium eaque, quos odit <br>
                Tempore molestiae sit ad?</mat-list>


            <mat-list>1345 Kigali rwanda</mat-list>
            <mat-list>+250784870429</mat-list>
            <mat-list>eshoping@gmail.com</mat-list>
            </mat-list-item>


            </div><!--end of aboutus-->


            <div><!--categories-->
              <mat-list-item  fxLayout="column">
                <mat-list  style="color:white">CATEGORIES</mat-list>
                <mat-list>Hot deal</mat-list>
                <mat-list>LapTops</mat-list>
                <mat-list>Smart Phones</mat-list>
                <mat-list>Cameras</mat-list>
                <mat-list>Accessories</mat-list>

              </mat-list-item>


            </div><!-- end categories-->


            <div><!--information-->
              <mat-list-item  fxLayout="column">
                  <mat-list  style="color:white">INFORMATION</mat-list>
                  <mat-list>About Us</mat-list>
                  <mat-list>Contact Us</mat-list>
                  <mat-list>Privacy Policy</mat-list>
                  <mat-list>Terms & Conditions</mat-list>


                </mat-list-item>
            </div><!--information-->


            <div><!--service-->
              <mat-list-item  fxLayout="column">
                  <mat-list  style="color:white">SERVICE</mat-list>
                  <mat-list>My Account</mat-list>
                  <mat-list>View Cart </mat-list>
                  <mat-list>Help</mat-list>
                  <mat-list>Map</mat-list>



                </mat-list-item>
            </div><!--end of service-->







      </mat-toolbar>
</div>

